<footer class="footer bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Sports</h3>
        <ul>
          <li><a href="#">Basketball</a></li>
          <li><a href="#">Football</a></li>
          <li><a href="#">Chess</a></li>
          <li><a href="#">Cricket</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Resources</h3>
        <ul>
          <li><a href="#">Rules and Regulations</a></li>
          <li><a href="#">Schedules and Standings</a></li>
          <li><a href="#">Teams and Players</a></li>
          <li><a href="#">Venue and Directions</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Connect with Us</h3>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">YouTube</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
