
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form [formGroup]="CoachForm" (ngSubmit)="onSubmit()">
        <h1>Find yourself a coach!</h1>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" formControlName="location">
        </div>
        <div class="form-group">
          <label for="sport">Sport</label>
          <input type="text" class="form-control" formControlName="sport">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <div *ngIf="coaches.length > 0">
        <ul>
          <li *ngFor="let coach of coaches">
            <h4>{{ coach.name }}</h4>
            <p>Contact: {{ coach.contact }}</p>
            <p>Email: {{ coach.email }}</p>
            <p>Sport: {{ coach.sport }}</p>
            <p>Location: {{ coach.location }}</p>
            <p>Availability: {{ coach.availability }}</p>
            <p>Workspace: {{ coach.workspace }}</p>
            <p>Expertise: {{ coach.expertise }}</p>
          </li>
        </ul>
      </div>
      <div *ngIf="coaches.length === 0 && CoachForm.valid && submitted">
        No coaches found for the given location and sport.
      </div>
      
    </div>
  </div>
</div>
